/* Projects */

.projects {
  flex-direction: column;
  gap: 3rem;
}

.projects__header {
  text-align: center;
}

.projects__card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 1000px;
  padding: 1.5rem;
  border-radius: 26px;
  outline: var(--outline);
  box-shadow: var(--card-shadow);
  transition: scale var(--transition-time);
}

.projects__card:hover {
  scale: 1.03;
}

.projects__image {
  width: 602px;
  border-radius: 16px;
}

.projects__info {
  text-align: center;
  width: 100%;
  padding-inline: 1rem;
}

.projects__title {
  color: var(--text-color);
  transition: color var(--transition-time);
}

.projects__description {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
  transition: color var(--transition-time);
}

.projects__buttons__container {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin-block: 1rem 0.7rem;
}

.projects__button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
  padding: 5px 14px;
  border: none;
  border-radius: 10px;
}

.projects__button:hover,
.projects__button:focus {
  background-color: var(--blue-hover-color);
  outline: none;
  cursor: pointer;
  scale: 1.06;
}

.projects__button:active {
  scale: 0.98;
}

.disabled {
  pointer-events: none;
  filter: brightness(0.6);
}

/* Media Queries */

@media only screen and (max-width: 1085px) {
  .projects__card {
    flex-direction: column;
    width: 650px;
  }

  .projects__image {
    width: 100%;
  }

  .projects__info {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 720px) {
  .projects__card {
    width: 100%;
  }

  .projects__card:hover {
    scale: 1;
  }
}
