/* About */

.about h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.about__text {
  font-weight: 600;
  line-height: 1.6rem;
  max-width: 800px;
  margin-block: 1rem;
}

.about__skillset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 800px;
  min-width: 425px;
  padding: 1rem;
}

.about__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: var(--text-color);
  width: 120px;
  padding: 1rem;
  border-radius: 16px;
  outline: var(--outline);
  box-shadow: var(--card-shadow);
  transition: var(--transition);
}

.about__skill:hover {
  scale: 1.1;
}

.about__skill img {
  width: 50px;
  height: 50px;
  margin-block: 0.6rem 0.2rem;
}
