/* Global Variables */
.app {
  --bg-color: hsl(0 0% 96%);
  --footer-bg: hsl(192 38% 92%);
  --blue-color: hsl(195 57% 52%);

  --text-color: hsl(0 0% 25%);

  --button-bg-hover: hsl(0, 0%, 8%);

  --shadow: 0 1px 6px 0 hsl(0 0% 0% / 0.1), 0 1px 2px 0 hsl(0 0% 0% / 0.06);
  --card-shadow: 1px 1px 6px 0 hsl(0 0% 0% / 0.1),
    1px 1px 2px 0 hsl(0 0% 0% / 0.06), -1px -1px 6px 0 hsl(0 0% 0% / 0.1),
    -1px -1px 2px 0 hsl(0 0% 0% / 0.06);
  --outline: none;

  --transition: none;
}

.app.dark-mode {
  --bg-color: hsl(0 0% 11%);
  --footer-bg: hsl(0 0% 0% / 0.4);

  --text-color: hsl(0 0% 75%);

  --button-bg-hover: hsl(0, 0%, 92%);

  --shadow: none;
  --card-shadow: none;
  --outline: 1px solid var(--text-color);
}

.app.loaded {
  --transition: 0.2s;
}

/* General */
* {
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  min-height: 100vh;
  margin: 0;
  transition: var(--transition);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

span {
  color: var(--blue-color);
}

/* Nav */
.nav {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 60px;
  padding-inline: 10%;
  box-shadow: var(--shadow);
  outline: var(--outline);
  transition: var(--transition);
}

.nav__dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: inherit;
  background: none;
  border: none;
  border-radius: 50%;
  transition: var(--transition);
}

.nav__dark-mode:hover,
.nav__dark-mode:focus {
  color: var(--blue-color);
  outline: none;
  cursor: pointer;
}

.nav__link {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  margin-inline: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--blue-color);
  outline: none;
}

.active {
  box-shadow: 0 2px 0 var(--blue-color);
}

/* Home */
.home {
  min-height: 400px;
  padding: 2rem 3rem;
}

.home__header {
  font-size: 1.1rem;
  line-height: 2.6rem;
}

.home__greeting {
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 6px;
  transition: var(--transition);
}

.home__introduction {
  color: var(--text-color);
  margin: 0;
  transition: var(--transition);
}

.home__image {
  width: 470px;
  margin: 0 0 0 40px;
  transition: var(--transition);
}

/* About */

/* Projects */
.projects {
  flex-direction: column;
  padding: 3rem;
}

.projects__header {
  color: var(--text-color);
  margin-bottom: 1rem;
  transition: var(--transition);
}

.projects__card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--text-color);
  width: 1000px;
  padding: 1.5rem;
  margin-block: 2rem;
  border-radius: 16px;
  outline: var(--outline);
  box-shadow: var(--card-shadow);
  transition: var(--transition);
}

.projects__image {
  width: 600px;
  border-radius: 16px;
  transition: var(--transition);
}

.projects__info {
  width: 350px;
  padding-inline: 1rem;
  transition: var(--transition);
}

.projects__title {
  color: var(--text-color);
  transition: color var(--transition);
}

.projects__description {
  font-weight: 600;
  color: var(--text-color);
  transition: color var(--transition);
}

.projects__link__container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.83rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  margin: 10px 15px;
  transition: var(--transition);
}

.projects__link:hover,
.projects__link:focus {
  background-color: var(--button-bg-hover);
  cursor: pointer;
  transform: scale(1.06);
}

.projects__link:active {
  transform: scale(0.98);
}

.link__icon {
  margin-right: 0.5rem;
}

/* Contact */

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg);
  min-height: 100px;
  transition: var(--transition);
}

.footer__link {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-inline: 10px;
  transition: var(--transition);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--blue-color);
  outline: none;
}

/* Media Queries */
@media only screen and (max-width: 1085px) {
  .home {
    padding: 5.5rem 3rem;
  }

  .home__header {
    font-size: 0.8rem;
    line-height: 1.9rem;
  }

  .home__image {
    width: 380px;
  }

  .projects__card {
    flex-direction: column;
    text-align: center;
    width: 655px;
  }

  .projects__info {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 855px) {
  .home {
    flex-direction: column-reverse;
  }

  .home__header {
    text-align: center;
  }

  .home__image {
    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 720px) {
  .projects__card {
    width: 400px;
  }

  .projects__image {
    width: 350px;
  }

  .nav {
    min-height: 50px;
    padding-inline: 5%;
  }

  .nav__link {
    font-size: 0.9rem;
    margin-inline: 0.8rem;
  }

  .nav__dark-mode {
    font-size: 1.3rem;
  }
}
