/* Global Variables */
.app {
  --bg-color: hsl(0 0% 96%);
  --footer-bg: hsl(192 38% 90%);
  --blue-color: hsl(195 57% 52%);

  --text-color: hsl(0 0% 25%);

  --button-bg-hover: hsl(0, 0%, 8%);

  --shadow: 0 2px 6px 0 hsl(0 0% 0% / 0.13), 0 1px 2px 0 hsl(0 0% 0% / 0.06);
  --card-shadow: 2px 2px 6px 0 hsl(0 0% 0% / 0.13),
    2px 2px 2px 0 hsl(0 0% 0% / 0.06), -2px -2px 6px 0 hsl(0 0% 0% / 0.13),
    -2px -2px 2px 0 hsl(0 0% 0% / 0.06);
  --outline: none;

  --transition: none;
}

.app.dark-mode {
  --bg-color: hsl(0 0% 11%);
  --footer-bg: hsl(0 0% 0% / 0.4);

  --text-color: hsl(0 0% 75%);

  --button-bg-hover: hsl(0, 0%, 92%);

  --shadow: none;
  --card-shadow: none;
  --outline: 1px solid var(--text-color);
}

.app.loaded {
  --transition: 0.2s;
}

/* General */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Cairo', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  min-height: 100vh;
  margin: 0;
  transition: var(--transition);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

span {
  color: var(--blue-color);
}

/* Nav */
.nav {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 60px;
  padding-inline: 10%;
  box-shadow: var(--shadow);
  outline: var(--outline);
  transition: var(--transition);
  z-index: 1;
}

.nav__dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: inherit;
  background: none;
  border: none;
  transition: var(--transition);
}

.nav__dark-mode:hover,
.nav__dark-mode:focus {
  color: var(--blue-color);
  outline: none;
  cursor: pointer;
}

.nav__link {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  margin-inline: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--blue-color);
  outline: none;
}

.active {
  box-shadow: 0 2px 0 var(--blue-color);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-bg);
  color: var(--text-color);
  min-height: 100px;
  transition: var(--transition);
}

.footer__copyright {
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.footer__links__container {
  display: flex;
  padding: 0.5rem;
}

.footer__link {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-inline: 10px;
  transition: var(--transition);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--blue-color);
  outline: none;
}

/* Home */
.home {
  flex-direction: row;
  min-height: 400px;
  padding: 2rem 3rem;
}

.home__header {
  font-size: 1.1rem;
  line-height: 2.6rem;
}

.home__greeting {
  font-size: 1.55em;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 6px;
  transition: var(--transition);
}

.home__introduction {
  font-size: 2.06em;
  color: var(--text-color);
  margin: 0;
  transition: var(--transition);
}

.home__image {
  width: 470px;
  margin: 0 0 0 40px;
  transition: var(--transition);
}

/* About */
.about {
  padding: 2.5rem;
  transition: var(--transition);
}

.about h2 {
  font-size: 2rem;
  margin-block: 0.5rem;
}

.about__text {
  font-weight: 600;
  line-height: 1.6rem;
  max-width: 800px;
  margin-block: 1rem;
}

.about__link {
  display: inline-block;
  font-weight: 800;
  text-decoration: none;
  color: var(--blue-color);
}

.about__link::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  position: relative;
  bottom: 0.25rem;
  background-color: var(--blue-color);
  transition: var(--transition);
}

.about__link:hover::after {
  width: 100%;
}

.about__skillset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 800px;
  min-width: 425px;
  padding: 1rem;
}

.about__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  color: var(--text-color);
  width: 120px;
  padding: 1rem;
  border-radius: 16px;
  outline: var(--outline);
  box-shadow: var(--card-shadow);
  transition: var(--transition);
}

.about__skill:hover {
  scale: 1.1;
}

.about__skill img {
  width: 50px;
  height: 50px;
  margin-block: 0.6rem 0.2rem;
}

/* Projects */
.projects {
  flex-direction: column;
  padding: 3rem;
}

.projects__header {
  color: var(--text-color);
  margin-bottom: 1rem;
  transition: var(--transition);
}

.projects__card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--text-color);
  width: 1000px;
  padding: 1.5rem;
  margin-block: 2rem;
  border-radius: 16px;
  outline: var(--outline);
  box-shadow: var(--card-shadow);
  transition: var(--transition);
}

.projects__card:hover {
  scale: 1.03;
}

.projects__image {
  width: 607px;
  border-radius: 16px;
  transition: var(--transition);
}

.projects__info {
  width: 350px;
  padding-inline: 1rem;
  transition: var(--transition);
}

.projects__title {
  color: var(--text-color);
  transition: color var(--transition);
}

.projects__description {
  font-weight: 600;
  color: var(--text-color);
  transition: color var(--transition);
}

.projects__links__container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.projects__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.83rem;
  font-weight: 600;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 4px 12px;
  border: none;
  border-radius: 10px;
  margin: 10px 15px;
  transition: var(--transition);
}

.projects__link:hover,
.projects__link:focus {
  background-color: var(--button-bg-hover);
  cursor: pointer;
  scale: 1.06;
}

.projects__link:active {
  scale: 0.98;
}

.link__icon {
  margin-right: 0.5rem;
}

/* Contact */

/* Error */
.error {
  font-family: 'Noto Sans Mono', monospace;
  transition: var(--transition);
}

.error__number {
  font-size: 10rem;
  letter-spacing: 0.2rem;
  transform: scaleY(1.1);
}

.error__text {
  font-size: 2rem;
}

.error__link {
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 0.7rem 1.2rem;
  margin: 2rem 0 2.5rem 0;
  border-radius: 10px;
  transition: var(--transition);
}

.error__link:hover,
.error__link:focus {
  background-color: var(--button-bg-hover);
  cursor: pointer;
  scale: 1.06;
}

.error__link:active {
  scale: 0.98;
}

/* Media Queries */
@media only screen and (max-width: 1085px) {
  .home {
    padding: 5.5rem 3rem;
  }

  .home__header {
    font-size: 0.8rem;
    line-height: 2rem;
  }

  .home__image {
    width: 380px;
  }

  .projects__card {
    flex-direction: column;
    text-align: center;
    width: 655px;
  }

  .projects__info {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 855px) {
  .home {
    flex-direction: column-reverse;
  }

  .home__header {
    text-align: center;
  }

  .home__image {
    margin: 0 0 60px 0;
  }
}

@media only screen and (max-width: 720px) {
  .projects__card {
    width: 400px;
  }

  .projects__image {
    width: 352px;
  }

  .nav {
    min-height: 50px;
    padding-inline: 5%;
  }

  .nav__link {
    font-size: 0.9rem;
    margin-inline: 0.8rem;
  }

  .nav__dark-mode {
    font-size: 1.3rem;
  }
}
